* {
    box-sizing: border-box;
}

body {
    display: flexbox;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Sans-Serif;
    overflow: auto;
    margin: 0 auto;
}


/* ------------------------- HEADER --------------------------------------- */

header {
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

/* ----------- NAV ----------------------*/

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
}

/* ---------- SOCIAL MEDIA ---------------*/ 

  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }

  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled{
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled{
    background-color: #ff0000;
  }
  

  /* ----------- LIGHT/ DARK MODE BUTTON ------------------*/

  input {
  }
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: rgb(255, 255, 255);
    border: 1px solid #cccccc;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    right: 0.3em;
    bottom: 0.3em;
    transform: translateX(150%);
    background-color: #363a3d;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
    
  }
  
  .slider:after {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.3em;
    bottom: 0.3em;
    background-color: #cccccc;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 2px #30312f;
  }
  
  .switch input:checked + .slider:before {
    transform: translateY(0);
  }
  
  .switch input:checked + .slider::after {
    transform: translateX(-150%);
  }
  

/* ---- SANDUWICH DE CLICAR ---------------------- ---- */

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

/* -------- PARTE DOS DROPDOWN NO SANDUICHE ------------*/

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*   -------------------- MAIN --------------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 90px;
    padding: 0 15px;
    color:rgb(0, 0, 0);
}

section {
    justify-content: center;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    padding: 15px;
}

h1 {
    text-align: center;
    font-size: medium;
    opacity: 70%;
}

#profile-pic {
    margin: 0 auto;
    max-width: 150px;
    min-width: 50px;
    max-height: 150px;
    min-height: 50px;
    border-radius: 100px;
}

.about-me p {
    text-align: center;
    font-size: x-large;
    font-weight: 900;
}


/* -------------- CARDS -----------------*/

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px;
}

.card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    padding: 20px;
    background: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    }

/* --------------------- FOOTER ---------------------------*/

footer {
    display: flex;
    position: static;
    margin-top: 40px;
    bottom: 0px;
    padding: 10px;
    min-height: 100px;
    max-height: 100px;
}


.contact {
    position: fixed;
    right: 15px;
}